@page "/carousel/index"

<div class="fondocarousel">
<h3>Carousel </h3>

<div class="carousel">
    <div class="slide">
        <img src="imagenes/imagen1.jpeg" alt="Imagen 1" />
    </div>
    <div class="slide">
        <img src="imagenes/imagen1.jpeg" alt="Imagen 1" />
    </div>
    <div class="slide">
        <img src="imagenes/imagen1.jpeg" alt="Imagen 1" />
    </div>
    <div class="slide">
        <img src="imagenes/imagen1.jpeg" alt="Imagen 1" />
    </div>
    <div class="slide">
        <img src="imagenes/imagen1.jpeg" alt="Imagen 1" />
    </div>
    <div class="slide">
        <img src="imagenes/imagen1.jpeg" alt="Imagen 1" />
    </div>
    <div class="slide">
        <img src="imagenes/imagen1.jpeg" alt="Imagen 1" />
    </div>
</div>

</div>
@code {

}
