@page "/carousel/index"

<div class="fondocarousel">
<h3>Carousel </h3>

<section>
    
        <img  src="imagenes/curiosidad.jpg" alt="Imagen 1" />

        <img  src="imagenes/don.jpg" alt="Imagen 2" />
   
        <img  src="imagenes/hasta.jpg" alt="Imagen 4" />
    
        <img  src="imagenes/nota.jpg" alt="Imagen 5" />
    
        <img  src="imagenes/tak.jpg" alt="Imagen 6" />
    
        <img  src="imagenes/you.jpg" alt="Imagen 7" />
   
</section>

</div>
@code {

}
