body {
    Background: linear-gradient(#0094ff, #00ffff,#ff00dc)
}

.fondoMusica h3{
   color: blue;
   font-weight:bold;

}
.tableMusica{
    border: solid 1px;
    font-size:14px;
    table-layout:fixed;
    border-collapse: collapse;

}
thead {
    background: rgb(243, 140,210,0.4);
}
th{
    padding:10px 15px;
    font-weight:700;
    text-transform: uppercase;
}
td {
    padding: 15px;
    font-weight: 700;
    text-transform: uppercase;
}
tbody tr {
    cursor:pointer;
}
    tbody tr:hover {
        background: rgba(250, 105,199,0.2);
    }

.diseñop h1 {
    color: blue;
    font-weight: bold;
}

    
  

    .imagen{
        position:absolute;
        width:50%;
        height:80%;
      justify-content: center;
      align-items:center;
      display:flex;
    }
 .img1 {
    width: 400px;
    height: 400px;
    border-radius: 50%;
    animation-name: girarb;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    display: inline-block;
}
@keyframes girarb{
    from{
        transform:rotate(0deg);
    }to
     {
         transform:rotate(360deg);
     }
}
     

.carousel {
    display:  flex;
    overflow: hidden;
    width: 100%;
    max-width: 600px;
    position: center;
   
}
     .slide{
         flex: 0 0 100;
         transition: transform 0.3s ease-in-out;
     }
.fondocarousel h3 {
    color: blue;
    font-weight: bold;
  
}