@page "/mmusica/index"
@using ReproMP3.EN;
@inject HttpClient Http;
@inject NavigationManager NavManager;
<PageTitle>Mmusicas</PageTitle>
<button class="btn btn-primary" @onclick="newMusica">
    Mas Musica
</button>

<h3>Buscar</h3>

<div class="fondoPantallaMusica">
 
@if (mmusica == null)
{
    <p><em>Loading...</em></p>
}
else
{
  
    <table class="table">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Autor</th>
                <th>Icono</th>
                <th>Url</th>
                <th colspan="3">Acciones</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var mmusica in mmusica)
            {
                <tr>
                    <td>@mmusica.Nombre</td>
                    <td>@mmusica.Autor</td>
                    <td>@mmusica.Icono</td>
                    <td>@mmusica.Url</td>
                    <td>
                        <button class="btn btn-success"
                        @onclick="(() => goModify(mmusica.Id))">
                            Modificar
                        </button>
                    </td>
                    <td>
                        <button class="btn btn-danger"
                        @onclick="(() => goDelete(mmusica.Id))">
                            Eliminar
                        </button>
                    </td>
                    <td>
                        <button class="btn btn-info"
                        @onclick="(() => goDetail(mmusica.Id))">
                            Ver
                        </button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
   
}
</div>
@code {
    private Mmusica[]? mmusica;

    protected override async Task OnInitializedAsync()
    {
        mmusica = await Http.GetFromJsonAsync<Mmusica[]>("Mmusica");
    }

    void newMusica()
    {
        NavManager.NavigateTo("/mmusica/registermmusica");
    }

    void goModify(int pId)
    {
        NavManager.NavigateTo($"/mmusica/modifymmusica/{pId}");
    }

    void goDelete(int pId)
    {
        NavManager.NavigateTo($"/mmusica/deletemmusica/{pId}");
    }

    void goDetail(int pId)
    {
        NavManager.NavigateTo($"/mmusica/detailmmusica/{pId}");
    }
}
