@page "/mmusica/registrermmusica/{pId:int}"
@using ReproMP3.EN;
@inject HttpClient Http;
@inject NavigationManager NavManager

<h3>RegistrarMmusica</h3>
<input type="hidden" @bind-value="mmusica.Id" />
<div class="row">
    <div class="col-sm-12">
        <label class="form-label">Nombre</label>
        <input type="text" class="form-control" @bind-value="mmusica.Nombre" readonly />
    </div>
    <div class="col-sm-12">
        <label class="form-label">Autor</label>
        <input type="text" class="form-control" @bind-value="mmusica.Autor" readonly />
    </div>
    <div class="col-sm-12">
        <label class="form-label">Icono</label>
        <input type="text" class="form-control" @bind-value="mmusica.Icono" readonly />
    </div>
    <div class="col-sm-12">
        <label class="form-label">Url</label>
        <input type="text" class="form-control" @bind-value="mmusica.Url" readonly />
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <button class="btn btn-danger" @onclick="RegistrarMmusicas">regsitrar</button>
        <button class="btn btn-secondary" @onclick="returnIndex">Regresar</button>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <span style="color:red; font-weight:bold;">@resultadoRegistrar</span>
    </div>
</div>
@code {
    Mmusica mmusica = new Mmusica();
    string resultadoRegistrar = "";

    public async Task RegistrarMmusicas()
    {
        try
        {
            var resultado = await Http.PostAsJsonAsync<Mmusica>("Mmusica", mmusica);

            if (Convert.ToInt32(resultado.StatusCode) == 200)
            {
                returnIndex();
            }
            else
            {
                resultadoRegistrar = "Error al registrar el Registrar";
            }
        }
        catch (Exception ex)
        {
            resultadoRegistrar = "Ocurrio un error interno";
        }
    }

    void returnIndex()
    {
        NavManager.NavigateTo("/mmusica/index");
    }
}
